
<div class="app-card-container">
  <h1>About Me</h1>
	<div class="card"
	
	    

		<hr>

			<div class="row">
				<div class="col-md-5">
				<%= image_tag "profile.jpg", width:300, alt: "profile image" %>
			    </div>

				<div class="col-md-7">
				  <p>A decade plus of experience in diverse technologies focusing on application performance management and monitoring in the last decade. My experience in I.T. spans rack and stack, cabling and connectors, server implementation, system administration, virtual machines and training on use of application performance software. 
			      <hr>
			  	  I have extensive experience writing process and procedure spanning the entirety of the application lifecycle. My experience includes the creation of business effective performance SLAs and training business analysts to do the same. While performing the previous functions I have also served as Tier 3 support </p>
			  	</div>
            </div>
    </div>	
</div>




    

 
