<h1>About Dennis Espinoza</h1>

<hr>

<p>Over a decade plus of experience in diverse technologies focusing on application performance management and monitoring in the last decade. My experience spans 
rack and stack, cabling and connectors, server implementation, system administration and training on use of application performance software. I have extensive experience writing process and procedure spanning the entirety of the application lifecycle. My experience includes the creation of business effective performance SLAs and training business analysts to do the same. While performing the previous functions I have also served as Tier 3 support </p>
