<div class="inner cover">
  <h1 class="cover-heading">Online Resume and Profile</h1>
  <p class="lead">Welcome to the online resume and profile presentation for Dennis Henry Espinoza.</p>
  <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
 </div>

     